<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.realty.repository.ItemDAO">
    <insert id="insertItem" parameterType="itemVO">
        INSERT INTO items(
            head_addr
            , addr_jibun
            , addr_road
            , price
            , owner_id
        ) VALUES (
            #{headAddr}
            , #{addrJibun}
            , #{addrRoad}
            , #{price}
            , #{ownerId}
        )
    </insert>

    <select id="selectItemList" parameterType="long" resultType="itemVO">
        SELECT
            item_id
            , head_addr
            , addr_jibun
            , addr_road
            , price
            , owner_id
        FROM
            items
        WHERE
            owner_id = #{ownerId}
    </select>
    
    <update id="updateItem" parameterType="itemVO">
        UPDATE items SET(
            head_addr = #{headAddr}
            , addr_jibun = #{addr_jibun}
            , addr_road = #{addr_road}
            , price = #{price}
        ) WHERE item_id = #{itemId}
    </update>

    <delete id="deleteItem" parameterType="long">
        DELETE FROM items
        WHERE item_id = #{itemId}
    </delete>
</mapper>