<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.realty.repository.UserDAO">
    <insert id="insertUser" parameterType="userVO">
        INSERT INTO user(
        email
        , nick_name
        , name
        ) VALUES (
        #{email}
        , #{nickName}
        , #{name}
        )
    </insert>

    <select id="selectUserList" resultType="userVO">
        SELECT
            user_id
            , email
            , nick_name
            , name
        FROM user
    </select>
    <select id="selectUser" parameterType="long" resultType="userVO">
        SELECT
            user_id
            , email
            , nick_name
            , name
        FROM user
        WHERE user_id = #{userId}
    </select>
    <select id="checkEmail" parameterType="string" resultType="int">
        SELECT
            COUNT(email)
        FROM user
        WHERE email = #{email}
    </select>
    
    <update id="updateUser" parameterType="userVO">
        UPDATE user SET(
            nick_name = #{nickName}
            , name = #{name}
        ) WHERE user_id = #{userId)
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM user
        WHERE user_id = #{userId}
    </delete>
</mapper>